.address {
  padding-right: 5px;
  flex: 1;

  .address__title {
    padding-bottom: 10px;
    font-size: 18px;
    color: $dark-green;
    text-transform: uppercase;
  }

  .items {
    list-style-type: none;
    padding-left: 0;
  }

  .fas {
    color: $dark-green;
    padding-right: 10px;
  }
}

@include mq(dekstop, max) {
  .address {
    flex: 1 0 100%;
  }
}