.article  {
  flex: 1;
  text-align: center;

  .article__title {
    padding-top: 0.5em;
  }
}

.article ~ .article {
  margin-left: 20px;
}

.article--offer {
  padding: 55px;
  text-align: center;
  background: rgba(#285943, 0.7);
  color: #fff;

  .article__entry {
    padding: 15px 0;
  }
}

.article--service {
  .article__image {
    max-width: 150px;
    margin: 0 auto;
    background: #a3dfa6;
    padding: 35px;
    border-radius: 50%;
  }
}

.article--activity {
  .milestone {
    font-size: 50px;
    color: #000;
    font-weight: bold;
  }
}

.article--trainer {
  .article__image {
    max-width: 150px;
    margin: 0 auto;
    border-radius: 50%;
  }
}

.article--event {
  .article__title {
    padding: 15px 0;
  }

  .article__entry {
    text-align: justify;

    .line {
      position: relative;
    }

    .line:after {
      content: '';
      position: absolute;
      margin-bottom: 10px;
      bottom: 0;
      left: 0;
      width: 100%;
      border-bottom: 3px solid #285943;
    }
  }

  .article__actions {
    padding-top: 15px;
  }
}

@include mq(dekstop, max) {
  .article {
    flex: 1 0 100%;
  }

  .article ~ .article {
    margin-left: 0;
    margin-top: 20px;
  }

  .article--activity {
    img {
      max-width: 30%;
    }
  }
}