.bar {
  padding: 2px 0;
  background: #285943;

  .bar__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .bar__address {
    color: #D7FFF1;
  }

  .bar__phone {
    position: relative;

    .fa-phone-volume {
      position: absolute;
      top: 0;
      bottom: 0;
      left: -25px;
      right: 0;
      animation: wiggle 0.5s infinite alternate;
    }
  }
}