.form--newsletter {
  .form__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .form__title {
      text-align: center;
      padding-bottom: 30px;
    }

    .form__body {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .form__controls{
        margin: 0 10px;

        .field {
          padding: 15px;
          background: rgba(134, 134, 134, 0.7);
          border: none;
          color: #FFF;

          &::placeholder {
            color: #fff;
          }
        }
      }
    }
  }
}

.form--contact {
  flex: 1;
  padding-left: 5px;
  .form__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .form__body {
      flex: 1;

      .form__controls {
        .form__group {
          display: flex;
          margin-right: -20px;

          .form__row {
            width: 100%;
            margin-right: 20px;
          }
        }

        .field {
          width: 100%;
          padding: 20px;
          background: #8CD790;
          color: #285943;
          border: none;
          margin-bottom: 15px;
          border-bottom: 2px solid transparent;

          &:active {
            border-bottom: 2px solid #285943;
          }

          &:hover {
            border-bottom: 2px solid #285943;
          }

          &:focus {
            border-bottom: 2px solid #285943;
          }

          &::placeholder {
            color: #285943;
          }
        }

        textarea.field {
          resize: none;
        }
      }
    }

    .form__actions {
      flex: 1 0 100%;
    }
  }
}

@include mq(tablet, max) {
  .form--newsletter {
    .form__inner {
      .form__body {
        flex-wrap: wrap;

        .form__controls {
          flex: 1 0 100%;
          margin: 10px 0;

          .field {
            width: 100%;
          }
        }

        .form__actions {
          flex: 1 0 100%;
        }
      }
    }
  }
}

@include mq(dekstop, max) {
  .form--contact {
    padding-left: 0;
  }
}