.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(313px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
  list-style-type: none;

  .offer {
    position: relative;

    .grid__image {
      width: 100%;
      opacity: 1;
      transition: 0.5s ease;
    }

    p {
      position: absolute;
      top: 0;
      width: 100%;
      font-size: 1.2em;
      text-transform: uppercase;
      color: $white;
      text-align: center;
      padding: 15px 0;
      background-color: rgba(0, 0, 0, 0.5);
      height: 80px;
      transition: 0.5s ease;
    }

    a {
      &:hover p {
        height: 100%;
        padding-top: 50%;
      }
    }
  }
}

@include mq(phone-wide, max) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}