$breakpoints: (
        "phone": 320px,
        "phone-wide": 480px,
        "tablet-small": 640px,
        "tablet": 768px,
        "tablet-wide": 960px,
        "dekstop": 1024px,
        "desktop-wide": 1600px
);

@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {

    $width: map_get($breakpoints, $width);

    @if $type == max {
      $width: $width - 1px;
    }

    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}