.section {
  padding: 30px 0;

  .section__inner {
    display: flex;
  }

  .section__head {
    text-align: center;
  }

  .section__body {
    display: flex;
    justify-content: space-between;
  }
}

.section--offers {
  background: linear-gradient(rgba(25, 25, 25, 0.5), rgba(25, 25, 25, 0.5)), url("../images/bg-offers.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  background-size: cover;
}