.section {
  padding: 30px 0;

  .section__inner {
    display: flex;
  }

  .section__head {
    text-align: center;
  }

  .section__body {
    display: flex;
    justify-content: space-between;
  }
}

.section--offers {
  background: linear-gradient(rgba(25, 25, 25, 0.5), rgba(25, 25, 25, 0.5)), url("../images/bg-offers.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  background-size: cover;
}

.section--about {
  background: linear-gradient(rgba(0,0,0,.9), rgba(0,0,0,.6)), url("../images/bg_about.jpg") no-repeat center center fixed;
  color: #fff;

  .section__body {
    text-align: justify;
  }
}

.section--map {
  padding: 0;
  border-top: 2px dashed #285943;
  border-bottom: 2px dashed #285943;
}

@include mq(dekstop, max) {
  .section__inner {
    flex-wrap: wrap;
  }
  .section__body {
    flex-wrap: wrap;
  }
}