$font-size-initial: 12px;

$font-size-lv2: 13px;
$font-size-lv3: 14px;
$font-size-lv4: 15px;
$font-size-lv5: 16px;
$font-size-lv6: 17px;
$font-size-lv7: 18px;

$black: #000;
$white: #fff;
$dark-green: #285943;
$light-green: #A3DFA6;
$electric-green: #00FF01;

$color-facebook: #3b5998;
$color-instagram: #AE32AA;
$color--google-plus: #db4437;
$color-twitter: #007bb5;
$color-pinterest: #BD081B;
$color-reddit: #FF4500;


