<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ site.baseurl }}/bxslider/dist/jquery.bxslider.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" />
    <title>Mountain Club Cheers</title>
</head>
<body>

<div class="wrapper">
    <div class="bar">
        <div class="shell">
            <div class="bar__inner">
                <div class="bar__address">
                    <i class="fas fa-map-marker-alt"></i>
                    град Сливен, ул. Поп Харитон № 4, пк. 8802
                </div><!-- /.address-->

                <div class="bar__socials socials">
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/" target="_blank">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>

                        <li>
                            <a href="https://www.instagram.com/" target="_blank">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>

                        <li>
                            <a href="https://plus.google.com/" target="_blank">
                                <i class="fab fa-google-plus-g"></i>
                            </a>
                        </li>

                        <li>
                            <a href="https://twitter.com/" target="_blank">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>

                        <li>
                            <a href="https://www.pinterest.com/" target="_blank">
                                <i class="fab fa-pinterest-p"></i>
                            </a>
                        </li>

                        <li>
                            <a href="https://www.reddit.com/" target="_blank">
                                <i class="fab fa-reddit-alien"></i>
                            </a>
                        </li>
                    </ul>
                </div><!-- /.bar__socials socials -->

                <a href="tel:+359888444597" class="bar__phone">
                    <i class="fas fa-phone-volume"></i>
                    +359 888 444 597
                </a><!-- /.phone -->
            </div><!-- /.bar__inner -->
        </div><!-- /.shell -->
    </div><!-- /.bar -->

    <header class="header">
        <div class="shell">
            <div class="header__inner">
                <a href="/" class="logo">
                    <div class="img-container">
                        <img src="{{ site.baseurl }}/images/logo.png" alt="logo">
                    </div><!-- /.img-container -->
                </a><!-- /.logo -->

                <nav class="nav">
                    <ul>
                        <li>
                            <a href="/">Начало</a>
                        </li>

                        <li class="current">
                            <a href="{{ site.baseurl }}/about">За нас</a>
                        </li>

                        <li>
                            <a href="{{ site.baseurl }}/offers">Оферти</a>
                        </li>

                        <li>
                            <a href="{{ site.baseurl }}/contact">Контакти</a>
                        </li>
                    </ul>
                </nav><!-- /.nav -->

                <div class="burger-menu">
                    <div class="burger-menu__inner">
                        <span>&nbsp;</span>
                        <span>&nbsp;</span>
                        <span>&nbsp;</span>
                    </div><!-- /.burger-menu__inner -->
                </div><!-- /.burger-menu -->
            </div><!-- /.header__inner -->
        </div><!-- /.shell -->
    </header><!-- /.header -->

    <main class="main" id="main">
        {{content}}
    </main><!-- /.main -->

    <footer class="footer">
        <div class="shell">
            <div class="footer__form">
                <div class="form form--newsletter">
                    <form action="#" method="post">
                        <div class="form__inner">
                            <div class="form__head">
                                <h2 class="form__title">Абонирайте се за нашият бюлетин за да получите нашите оферти</h2>
                            </div><!-- /.form__head -->

                            <div class="form__body">
                                <div class="form__controls">
                                    <input type="text" name="subscribe-name" class="field" placeholder="Име">
                                </div><!-- /.form__controls -->

                                <div class="form__controls">
                                    <input type="email" name="subscribe-name" class="field" placeholder="Имейл адрес">
                                </div><!-- /.form__controls -->
                            </div><!-- /.form__body -->

                            <div class="form__actions">
                                <input type="submit" class="btn btn--subscribe" value="Абонирай се">
                            </div><!-- /.form__actions -->
                        </div><!-- /.form__inner -->
                    </form>
                </div><!-- /.form form--newsletter -->
            </div><!-- /.footer__form -->

            <div class="footer__body">
                <div class="footer_article article">
                    <div class="footer__image">
                        <img src="{{site.baseurl }}/images/ui.svg" alt="ui">
                    </div><!-- /.footer__image -->

                    <div class="footer__entry">
                        <h4>Обадете се</h4>

                        <p>Мобилен: +359 888 444 597</p>
                    </div><!-- /.footer__entry -->
                </div><!-- /.footer_article article -->

                <div class="footer_article article">
                    <div class="footer__image">
                        <img src="{{site.baseurl }}/images/cross.svg" alt="cross">
                    </div><!-- /.footer__image -->

                    <div class="footer__entry">
                        <h4>Адрес</h4>

                        <p>град Сливен, ул. Поп Харитон № 4, пк. 8802</p>
                    </div><!-- /.footer__entry -->
                </div><!-- /.footer_article article -->

                <div class="footer_article article">
                    <div class="footer__image">
                        <img src="{{site.baseurl }}/images/envelope.svg" alt="envelope">
                    </div><!-- /.footer__image -->

                    <div class="footer__entry">
                        <h4>Изпратетени съобщение</h4>

                        <p>pk_nazdrave@gmail.com</p>
                    </div><!-- /.footer__entry -->
                </div><!-- /.footer_article article -->
            </div><!-- /.footer__body -->

            <p class="copyright">Copyright &copy;2018 All right reserved</p><!-- /.copyright -->
        </div><!-- /.shell -->
    </footer><!-- /.footer -->
</div><!-- /.wrapper -->

<script src="{{ site.baseurl }}/js/burger.js"></script>
<script src="{{ site.baseurl }}/bxslider/dist/jquery.bxslider.min.js"></script>
<script src="{{ site.baseurl }}/js/bxslider.js"></script>

</body>
</html>